*, *::after, *::before{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 1em;
    font-size: clamp(.5rem, 2.5vmin, 1.5rem); /*.5rem is the min font size, 2.5vmin to scale based off browser size, 1.5rem is max font size*/
}

.alert-container{
    position: fixed;
    top: 10vh;
    left: 50vw;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alert{
    pointer-events: none;
    background-color: black;
    color: white;
    border-radius: .25em;
    padding: .5em;
    opacity: 1;
    transition: opacity 500ms ease-in-out;
    margin-bottom: .5em;
}

.alert:last-child{
    margin-bottom: 0;
}

.alert.hide{
    opacity: 0;
}

#guess-grid{
    display: grid;
    grid-template-columns: repeat(5, 4em); /*5 columns each 5em wide*/
    grid-template-rows: repeat(6, 4em);
    gap: .25em;
    justify-content: center;
    align-content: center;
    /* flex-grow: 1; */
}

.tile{
    grid-column: span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .07em solid hsl(200, 1%, 85%);
    border-radius: .25em;
    font-size: 2em;
    font-weight: 700;
    user-select: none;
    text-transform: uppercase;
    transition: transform 250ms linear;
}

.tile.shake{
    animation: shake 250ms ease-in-out;
}

@keyframes shake{
    10% {
        transform: translateX(-5%);
    }

    30% {
        transform: translateX(5%);
    }

    50% {
        transform: translateX(-7.5%);
    }

    70%{
        transform: translateX(7.5%);
    }

    90%{
        transform: translateX(-5%);
    }

    100%{
        transform: translateX(0);
    }
}

.tile.dance{
    animation: dance 500ms ease-in-out;
}

@keyframes dance{
    20% {
        transform: translateY(-50%);
    }

    40% {
        transform: translateY(5%);
    }
    
    60% {
        transform: translateY(-25%);
    }
    
    80% {
        transform: translateY(2.5%);
    }

    90% {
        transform: translateY(-5%);
    }
    
    100% {
        transform: translateY(0);
    }
}

.tile.flip{
   transform: rotateX(90deg);
}

.tile[data-state="active"]{
    border-color: hsl(200, 1%, 50%);
}

.tile[data-state="wrong"]{
    background-color: hsl(200, 1%, 40%);
    border: none;
    color: white;
}

.tile[data-state="wrong-location"]{
    background-color: hsl(49, 51%, 47%);
    border: none;
    color: white;
}

.tile[data-state="correct"]{
    background-color: hsl(115, 29%, 53%);
    border: none;
    color: white;
}

#keyboard{
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(20, minmax(auto, 1.25em));
    grid-auto-rows: 3em;
    gap: .25em;
    justify-content: center;
}

.key{
    font-size: inherit;
    font-weight: 800;
    grid-column: span 2;
    border: none;
    border-radius: .25em;
    background-color: hsl(
        var(--hue, 200), 
        var(--saturation, 1%), 
        calc(var(--lightness-offset, 0%) + var(--lightness, 70%))
        );
    /* background-color: hsl(200, 1%, 70%); */
    color: black;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none; /*stops user selecting/highlighting writing of the keys*/
    text-transform: uppercase;
    cursor: pointer;
}

.key.large{
    grid-column: span 3;
}

.key:hover, .key:focus{
    --lightness-offset: 10%;
}

.key.wrong{
    --lightness: 40%;
    color: white;
}

.key.wrong-location{
    --hue: 49;
    --saturation: 51%;
    --lightness: 47%;
    color: white;
}

.key.correct{
    --hue: 115;
    --saturation: 29%;
    --lightness: 53%;
    color: white;
}



